<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="backend/server.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <!-- First we consider whether the incoming URL matches a physical file in the /frontend/build folder -->
        <rule name="StaticContent">
          <action type="Rewrite" url="frontend/build{REQUEST_URI}"/>
        </rule>
        <!-- All other URLs are mapped to the Node.js application entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="backend/server.js"/>
        </rule>
      </rules>
    </rewrite>
    <!-- Verbose logging for IIS Node module -->
    <iisnode watchedFiles="web.config;*.js" 
             nodeProcessCommandLine="node"
             loggingEnabled="true"
             logDirectory="iisnode"
             debuggingEnabled="true"
             node_env="production" />
  </system.webServer>
</configuration>
